NODE_ENV=development

WEB_PORT=3000
API_PORT=4000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pharmahub
POSTGRES_PORT=5432

REDIS_PORT=6379

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/pharmahub?schema=public
REDIS_URL=redis://redis:6379
NEXT_PUBLIC_API_URL=http://localhost:4000
